body {
  background-color: #849d8f;
  margin: 0;
  min-width: 900px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!Sprite!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-basket {
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}

.sprite-basket-black {
  width: 21px;
  height: 20px;
  background-position: -10px -50px;
}

.sprite-basket-full {
  width: 15px;
  height: 10px;
  background-position: -10px -90px;
}

.sprite-cow {
  width: 49px;
  height: 51px;
  background-position: -10px -120px;
}

.sprite-entranc {
  width: 20px;
  height: 19px;
  background-position: -10px -191px;
}

.sprite-entranc-black {
  width: 20px;
  height: 19px;
  background-position: -10px -230px;
}

.sprite-facebook {
  width: 31px;
  height: 31px;
  background-position: -10px -269px;
}

.sprite-facebook-active {
  width: 31px;
  height: 31px;
  background-position: -10px -320px;
}

.sprite-heart {
  width: 15px;
  height: 13px;
  background-position: -10px -371px;
}

.sprite-hit {
  width: 61px;
  height: 61px;
  background-position: -10px -404px;
}

.sprite-ice-cream {
  width: 51px;
  height: 51px;
  background-position: -10px -485px;
}

.sprite-insta {
  width: 31px;
  height: 31px;
  background-position: -10px -556px;
}

.sprite-insta-active {
  width: 31px;
  height: 31px;
  background-position: -10px -607px;
}

.sprite-leaf {
  width: 51px;
  height: 51px;
  background-position: -10px -658px;
}

.sprite-search {
  width: 17px;
  height: 17px;
  background-position: -10px -729px;
}

.sprite-search-black {
  width: 17px;
  height: 17px;
  background-position: -10px -766px;
}

.sprite-thermometer {
  width: 49px;
  height: 51px;
  background-position: -10px -803px;
}

.sprite-twitter {
  width: 34px;
  height: 32px;
  background-position: -10px -874px;
}

.sprite-twitter-active {
  width: 31px;
  height: 31px;
  background-position: -10px -926px;
}

.sprite-vkontakte {
  width: 31px;
  height: 31px;
  background-position: -10px -977px;
}

.sprite-vkontakte-active {
  width: 31px;
  height: 31px;
  background-position: -10px -1028px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-header {
  min-height: 120px;
  padding: 0;
}

.container {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.for-flex {
  padding: 0 2.3%;
}

.logo {
  display: block;
  float: left;
  width: 155px;
  margin-left: -7px;
  padding-top: 8px;
}
.main-navigation {
  margin: 0 267px 0 155px;
}

.navigation {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  padding-top: 22px;
  font-size: 0;
}

.navigation-item {
  display: inline-block;
  vertical-align: top;
}

.navigation-item > a {
  display: block;
  border-radius: 20px;
  font-size: 16px;
  padding: 6px 14px;
  font-weight: bold;
  color: white;
}

.navigation-item > a:hover {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.navigation-item > a:active {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
  box-shadow: inset 0 2px 3px 0 #686868;
}

.navigation-item:hover .catalog {
  display: block;
}

.navigation-item .active {
  background-color: #d07058;
  text-decoration: none;
}

.catalog {
  z-index: 2;
  display: none;
  position: absolute;
  padding-top: 5px;
  margin-left: -7px;
}

.catalog ul {
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  list-style: none;
}

.catalog a,
.active-type div {
  display: block;
  padding-top: 5px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 17px;
  color: #343434;
  font-weight: 400;
  text-decoration: none;
}

.catalog li {
  margin: 5px 0;
  padding-left: 7px;
  padding-right: 9px;
}

.catalog .new {
  padding-bottom: 9px;
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

.catalog li:hover:not(.active-type) {
  background-color: #fbded7;
}

.catalog li:active:not(.active-type) {
  background-color: #f6b5a5;
}

.catalog .active-type {
  background-color: #d07058;
}

.active-type div {
  color: #ffffff;
}

.user-block {
  float: right;
  width: 267px;
  padding-top: 22px;
  text-align: right;
}

.user-block-element {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 32px;
  margin-bottom: 10px;
}

.user-block-element:not(:first-child) {
  margin-left: 7px;
}

.user-block-element:hover .popup {
  display: block;
}

.user-block-btn {
  display: block;
  position: relative;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 43px;
  padding-right: 16px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.user-block-element:hover .user-block-btn,
.filter input[type="submit"]:hover {
  color: #373737;
  background-color: #f8f7f4;
}

.user-block-btn::before {
content: "";
display: block;
position: absolute;
top: 7px;
left: 7px;
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
}

.search {
  height: 32px;
  width: 32px;
  padding: 0;
}

.search::before {
  top: 7px;
  left: 7px;
  width: 17px;
  height: 17px;
  background-position: -10px -729px;
}

.user-block-element:hover .search::before {
  background-position: -10px -766px;
}

.popup {
  display: none;
  z-index: 2;
  position: absolute;
  padding-top: 4px;
  right: 0;
}

.popup-form-search,
.popup-form-entrance {
  width: 241px;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.textarea {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  color: #353535;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.placeholder {
  position: relative;
}

.form-hint {
  position: absolute;
  left: 15px;
  top: -41px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  transition: 0.2s ease all;
}

.textarea:hover {
  border-color: #999999;
  box-shadow: inset 0 0 0 1px #999999;
}

.textarea:focus {
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
  outline: none;
}

.textarea:focus + .placeholder .form-hint {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
  color: #5b9ddf;
}

.lostfocus {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
  color: #9a9a9a;
}

.popup-form-search {
  width: 308px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popup-form-search .form-hint {
  left: 10px;
}

.entrance {
  text-align: left;
}

.entrance::before {
  left: 15px;
  width: 20px;
  height: 19px;
  background-position: -10px -191px;
}

.user-block-element:hover  .entrance::before {
  background-position: -10px -230px;
}

.popup-form-entrance {
  padding-top: 20px;
  padding-bottom: 13px;
}

.popup-form-entrance .textarea {
  margin-top: 0;
}

.form-entrance:focus + .placeholder .form-hint {
  top: -67px;
}

.form-entrance + .placeholder .lostfocus {
  top: -67px;
}

.no-password {
  float: right;
  width: 122px;
  text-align: left;
}

.no-password a {
  font-size: 13px;
  line-height: 20px;
  color: #333333;
}

.no-password a:hover,
.no-password a:active {
  color: #ec593c;
}

.popup .red-button {
  margin-top: 5px;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding-left: 28px;
  padding-right: 28px;
}

.basket {
  width: 73px;
  padding-right: 0;
  text-align: left;
}

.basket::before {
  z-index: 1;
  left: 15px;
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}

.basket-full {
  background-color: #f7f6f3;
  color: #313131;
}

.basket-full::before {
  background-position: -10px -50px;
}

.basket-full::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  width: 15px;
  height: 10px;
  background-position: -10px -92px;
  left: 20px;
  top: 12px;
}

.user-block-element:hover .basket::before {
  z-index: 1;
  background-position: -10px -50px;
}

.basket-item {
  width: 510px;
  padding: 15px;
  padding-bottom: 22px;
  color: #333333;
  font-size: 13px;
  line-height: 17px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.in-basket {
  width: 100%;
  border-bottom: 1px solid #cacac7;
  text-align: left;
}

.in-basket td {
  position: relative;
  vertical-align: top;
}

.del {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 0;
  top: 22px;
  left: 0px;
}

.del::before,
.del::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 15px;
  border-top: 1px solid #333333;
}

.del::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.del::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.in-basket img {
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 10px;
}

.in-basket .ice-cream-buy {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-top: 17px;
}

.products-count p {
  width: 117px;
  margin-top: 17px;
}

.price-item p {
  width: 63px;
  margin-top: 17px;
}

.in-basket .gray {
  color: #808080;
}

.booking p {
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  font-weight: bold;
}

.booking .red-button {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.work-time {
  padding-top: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.work-time b {
  position: relative;
  z-index: 1;
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}

.red-button {
  display: block;
  padding: 0;
  border-radius: 50px;
  border: 0 none;
  background-image: linear-gradient(to top, #e54c38, #f37250);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);;
}

.red-button:hover {
  background-image: linear-gradient(to top, #e86857, #f48a6f);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);;
}

.red-button:active {
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*!!!!!!!!!!!!!!!!!!!!!!slider!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

body > input {
  display: none;
}

.slider {
  position: relative;
  padding-top: 272px;
  padding-bottom: 42px;
  text-align: center;
}

.slider-item {
  display: none;
}

.slider .slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #ffffff;
}

.slider .red-button {
  height: 63px;
  width: 280px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 63px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-switch {
  position: absolute;
  left: 2.3%;
  bottom: 20px;
}

.slider-switch label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-switch label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-switch label:active {
  background-color: rgba(248, 247, 244, 1);
}

.button1:checked ~ .site-wrapper .slide1,
.button2:checked ~ .site-wrapper .slide2,
.button3:checked ~ .site-wrapper .slide3 {
  display: block;
}

.button1:checked ~ .site-wrapper .circle-point-1,
.button2:checked ~ .site-wrapper .circle-point-2,
.button3:checked ~ .site-wrapper .circle-point-3 {
  background-color: #ffffff;
}

.button1:checked ~ .site-wrapper {
  background: #849d8f url("../img/background-img/bg-ice-cream-1.png") no-repeat top center;
}

.button2:checked ~ .site-wrapper {
  background: #8996a6 url("../img/background-img/bg-ice-cream-2.png") no-repeat top center;
}

.button3:checked ~ .site-wrapper {
  background: #9d8b84 url("../img/background-img/bg-ice-cream-3.png") no-repeat top center;
}

/*!!!!!!!!!!!!!!!!!!!index.html!!!!!!!!!!!!!!!!!!!!!!!*/

.columns {
  margin-bottom: 40px;
}

.column {
  position: relative;
  width: 46.6%;
  box-sizing: border-box;
  min-height: 220px;
  padding: 20px;
  padding-top: 14px;
  border-radius: 15px;
}

.left {
  float: left;
  margin-left: 2.3%;
}

.right {
  float: right;
  margin-right: 2.3%;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  margin-left: -2px;
  font-size: 35px;
  line-height: 42px;
  font-weight: bold;;
  color: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.raspberries,
.chocolate {
  min-height: 230px;
  padding-bottom: 90px;
  background-size: cover;
}

.raspberries p,
.chocolate p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

.raspberries .red-button,
.chocolate .red-button {
  position: absolute;
  bottom: 23px;
  right: 20px;
  max-width: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 21px;
}

.raspberries {
  background-color: #74091d;
  background-image: url("../img/background-img/raspberries-background.jpg");
}

.chocolate {
  background-color: #472c20;
  background-image: url("../img/background-img/chocolate-background.jpg");
}

.products {
  padding: 0;
  font-size: 0px;
}

.preview {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 22.2%;
  margin-right: 2.2%;
  margin-bottom: 18px;
  padding-bottom: 20px;
  font-size: 16px;
}

.preview::before {
  content: "";
  display: none;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 60px;
  border-radius: 7px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.preview:hover::before {
  display: block;
}

.preview:hover {
  z-index:1;
}

.preview img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.preview:nth-child(4n+1) {
  margin-left: 2.3%;
}

.preview:nth-child(4n) {
  margin-right: 0;
}

.hit::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 61px;
  width: 61px;
  background-image: url("../img/sprite.png");
  background-position: -10px -404px;
}

.basic {
  position: relative;
  margin-bottom: 8px;
}

.price {
  position: absolute;
  bottom: 14px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.price b {
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
}

.ice-cream-name {
  display: block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.ice-cream-name span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.ice-cream-name:hover span {
    border: none;
}

.preview .red-button {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.preview:hover .red-button {
  display: block;
}

.information-on-production {
  width: 95.4%;
  margin-left: 2.3%;
  margin-right: 2.3%;
  padding-top: 20px;
  margin-bottom: 40px;
  border-radius: 13px;
  background-color: #e9dbbe;
  background-image: url("../img/background-img/wafer.jpg");
}


h3 {
  margin-top: 0;
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 4px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.information {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 0;
}

.information li {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  width: 48.8%;
  margin-bottom: 21px;
  padding-right: 15px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.information li:nth-child(2n+1) {
  margin-right: 2.3%;
  padding-left: 75px;
}

.information li:nth-child(2n) {
  margin-right: 0;
  padding-left: 56px;
}

.information li::before {
  content: "";
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  background-image: url("../img/sprite.png");
}

.information .ice-cream::before {
  top: -13px;
  left: 20px;
  background-position: -10px -485px;
}

.information .cow::before {
  top: -13px;
  left: 0px;
  background-position: -10px -120px;
}

.information .leaf::before {
  top: -13px;
  left: 20px;
  background-position: -10px -658px;
}

.information .thermometer::before {
  top: -13px;
  left: 0px;
  background-position: -10px -803px;
}

.blog {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.blog img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: auto;
}

.blog-post {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #353535;
}

.blog-post p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: #5a5a5a;
}

.blog-post a {
  padding-right: 10px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #353535;
  background-color: rgba(255, 255, 255, 0.8);
  outline: 5px solid rgba(255, 255, 255, 0.8);
}

.subscription {
  padding: 6px;
  background-color: #ffffff;
  background-image: url("../img/background-img/post-base.jpg");
  /*В формате .png картинка весила 1,3 КБ, а сейчас в .jpg весит 9,92 КБ!*/
}

.subscription-content {
  box-sizing: border-box;
  min-height: 208px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 26px;
  border-radius: 10px;
  background-color: #f8f7f4;
  color: #5a5a5a;
}

.subscription-content p {
  min-height: 90px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.subscription-content .textarea {
  height: 44px;
}

.subscription-content .form-hint {
  left: 11px;
  top: -43px;
  font-size: 16px;
  line-height: 24px;
}

.subscription-content .red-button {
  position: static;
  display: block;
  float: right;
  min-width: 120px;
  height: 44px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 44px;
}

.text-box-container {
  margin-right: 140px;
}

.subscription-content input[type="email"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.map {
  height: 430px;
  background-color: #e5e0cc;
  background-image: url("../img/background-img/map.png");
}

.map .container {
  position: relative;
}

.map .container {
  position: relative;
}

.contacts-detail {
  z-index: 1;
  position: absolute;
  top: 65px;
  right: 2.3%;
  width: 254px;
  padding-left: 24px;
  padding-right: 22px;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 15px;
  background-color: #fefefe;
}

.contacts-detail p {
  margin: 0;
  margin-top: 18px;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.contacts-detail b {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-detail .red-button {
  text-align: center;
  box-sizing: border-box;
  min-height: 44px;
  margin-top: 25px;
  line-height: 44px;
  font-size: 17px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!catalog.html!!!!!!!!!!!!!!!!!!!!*/

.main-catalog {
  margin-top: -25px;
}

.breadcrumbs {
  margin: 0;
  margin-right: 267px;
  padding: 0;
  padding-top: 2px;
  font-size: 0;
}

.breadcrumb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumb a {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumb a:hover,
.breadcrumb a:active {
  color: #ffbc9e;
}

.breadcrumb:not(:last-child)::after {
  content: "»";
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
}

h1 {
  margin-bottom: 24px;
  margin-top: 0;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
}

.filters {
  margin-left: -14px;
  margin-bottom: 25px;
  font-size: 0;
}

.filter {
  display: inline-block;
  vertical-align: top;
  margin-left: 14px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
}

.filter:last-child {
  vertical-align: bottom;
}

h5 {
  margin: 0;
  margin-bottom: 6px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.filter-block {
  display: inline-block;
  vertical-align: top;
  margin-right: 19px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.fat .filter-block {
  margin-right: 15px;
}

.filter .user-block-btn {
  position: relative;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 20px;
}

.filter .sorting {
  border: none;
  padding: 6px 11px;
  height: 36px;
}

.filter:nth-child(2) .user-block-btn {
  padding-top: 16px;
  padding-bottom: 16px;
}


.line {
  position: relative;
  width: 189px;
  height: 4px;
  background-color: #d1d9d2;
}

.line .price-line {
  z-index: 1;
  position: absolute;
  left: 29px;
  top: 0;
  width: 98px;
  height: 4px;
  background-color: #f8f7f4;
}

.price-line .min,
.price-line .max {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.price-line .min {
  left: -10px;
}

.price-line .max {
  right: -10px;
}

.filter .filling,
.filter .fat {
  padding-right: 0;
}

.filling input,
.fat input {
  display: none;
}

.filling label,
.fat label {
  position: relative;
  padding-left: 30px;
}

.filter-line label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

input[name="fatness"]:disabled + label::before,
input[name="filling"]:disabled + label::before {
  border: 1px solid #b2c1b7;
}

.fat label::before {
  border-radius: 50%;
}

input[name="fatness"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
}

input[name="fatness"]:disabled:checked + label::after {
  background-color: #b2c1b7;
}

.filling label::before {
  border-radius: 3px;
  left: -1px;
}

input[name="filling"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[name="filling"]:disabled:checked + label::after {
  border-left: 2px solid #b2c1b7;
  border-bottom: 2px solid #b2c1b7;
}

.filter-block label:hover::before {
  border: 2px solid #ffffff;
}

.filter input[type="submit"] {
  margin-right: 0;
  box-sizing: border-box;
  height: 37px;
  padding-left: 29px;
  padding-right: 29px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  border: none;
  box-shadow: inset 0 0 0 2px #ffffff;
}


.filter-btn .user-block-btn:active {
  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 3px 0 #686868;
}

.sorting:hover {
  background-color: #ffffff;
  color: #343434;
}

.sorting option{
  color: #343434;
}

.pages {
  float: right;
  text-align: right;
  margin-top: 42px;
  margin-bottom: 40px;
  font-size: 0;
}

.page {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.prev,
.next {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
  width: 15px;
  height: 22px;
}

.prev::before,
.next a::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  width: 7px;
  height: 7px;
}

.next a::before {
  right: 0;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prev::before {
  left: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.next a {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.page:not(.active-page):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page:not(.active-page):active {
  background-color: rgba(255, 255, 255, 1);
  color: #333333;
}

.active-page {
  border-radius: 15px;
  color: #353535;
  background-color: #ffffff;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*Я сделала футер таким, какой он в макете на первой странице (изначально было
выравнивание элементов по верхнему краю, так как на странице каталога).
Сейчас футер на странице каталога не совпадает, так как в макете футеры
первой и второй страниц разные - это ошибка дизайнера. Кураторы сказали, что
футеры должны быть одинаковыми на обеих страницах. Поэтому на какой-то странице,
в любом случае, будет расхождение.*/

.main-footer {
  padding-top: 18px;
  padding-bottom: 15px;
}

.site-page .container::before {
  content: "";
  position: absolute;
  top: -19px;
  left: 2.3%;
  right: 2.3%;
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  float: left;
  width: 22.2%;
  margin-left: 2.3%;
  margin-right: 2.2%;
  padding-top: 18px;
  font-size: 0;
}

.social {
  display: inline-block;
  width: 31px;
  height: 31px;
  vertical-align: top;
  margin-right: 18px;
  border-radius: 50%;
  font-size: 0;
  box-shadow: inset 0 0 2px 0 #ffffff,
              0 0 0 3px rgba(255, 255, 255, 0.5);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 0.8;
}

.social:first-child {
  margin-left: 5px;
}

.social:last-child {
  margin-right: 0;
}

.social:hover,
.social:active {
  box-shadow: inset 0 0 2px 0 #ffffff,
              0 0 0 5px rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.social:active {
  box-shadow: inset 0 2px 1px 0 #888888,
              0 0 0 5px rgba(255, 255, 255, 0.7);
}

.twitter {
  background-position: -11px -874px;
}

.twitter:active {
  background-position: -11px -926px;
}

.instagram {
  background-position: -10px -556px;
}

.instagram:active {
  background-position: -10px -607px;
}

.facebook {
  background-position: -10px -269px;
}

.facebook:active {
  background-position: -10px -320px;
}

.vkontakte {
  background-position: -10px -977px;
}

.vkontakte:active {
  background-position: -10px -1028px;
}

.footer-documents {
  float: left;
  width: 46.6%;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  margin-right: 2.2%;
}

.footer-documents-list {
  width: 322px;
  margin: 0 auto;
  padding: 0;
  padding-left: 19px;
  font-size: 0;
  list-style: none;
}

.footer-documents-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-size: 13px;
  line-height: 15px;
}

.footer-documents-list li:nth-child(2n+1) {
  width: 130px;
  margin-right: 12px;
}

.footer-documents-list li:nth-child(2n) {
  width: 180px;
}

.footer-documents-list a {
  color: #ffffff;
}

.footer-documents-list a:hover,
.footer-documents-list a:active,
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}

.footer-documents-list .heart {
  position: relative;
  font-weight: bold;
}

.footer-documents-list .heart::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: -20px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: -10px -371px;
}

.footer-copyright {
  float: right;
  width: 22.2%;
  margin-right: 2.3%;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
}

.footer-copyright img {
  margin-right: 80px;
}

.footer-copyright p {
  margin-top: 4px;
}

.footer-copyright a {
  color: #fefefe;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!madal-content!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.transparent-background {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.transparent-background-show {
  display: block;
}

.modal-content {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -221px;
  width: 429px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 27px;
  padding-top: 10px;
  color: #343434;
  background-color: #f8f7f4;
  border-radius: 10px;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-animation: show 0.6s;
  animation: show 0.6s;
}

.modal-error {
  -webkit-animation: error 2s;
  animation: error 2s;
}

@-webkit-keyframes show {
  0% {left: -50000px;}
  15% {left: 30%;}
  16% {-webkit-transform: rotate(10deg);}
  30% {left: 40%;}
  45% {left: 50%;}
  75% {-webkit-transform: rotate(10deg);}
  83% {-webkit-transform: rotate(0deg);}
  91% {-webkit-transform: rotate(1deg);}
}

@keyframes show {
  0% {left: -50000px;}
  15% {left: 30%;}
  16% {transform: rotate(10deg);}
  30% {left: 40%;}
  45% {left: 50%;}
  75% {transform: rotate(10deg);}
  83% {transform: rotate(0deg);}
  91% {transform: rotate(1deg);}
}

@-webkit-keyframes error {
  0% {background-color: #eb543a;}
}

@keyframes error {
  0% {background-color: #eb543a;}
}

.modal-content h3 {
   margin: 0;
   margin-bottom: 10px;
   margin-right: 2px;
}

.modal-content .textarea {
   height: 43px;
}

.modal-content .form-hint{
  top: -44px;
  left: 17px;
  font-size: 16px;
  line-height: 24px;
  color: #656565;
}

.modal-content .lostfocus {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
}

.modal-content input[type="email"],
.modal-content input[type="text"] {
   width: 267px;
}

.modal-content textarea {
   box-sizing: border-box;
   min-height: 155px;
   min-width: 429px;
   max-width: 429px;
   resize: none;
   overflow: auto;
}

.big-area .form-hint {
   top: -160px;
}

.big:focus + .placeholder .form-hint {
  top: -192px;
}

.big-area .lostfocus {
  top: -192px;
}

.modal-content .red-button {
  float: right;
  width: 138px;
  margin-top: 10px;
  padding: 0;
  min-height: 46px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 17px;
  line-height: 46px;
  color: #fefefe;
}

.modal-content .close-button {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 10px;
  font-size: 0;
}

.modal-content .close-button::before,
.modal-content .close-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: -3px;
  width: 20px;
  border: 1px solid #131313;
}

.modal-content .close-button::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content .close-button::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
