body {
  /*background: url("../img/gllacy-index-1200.png") no-repeat 50% 0;
  background-size: 1200px auto;*/
  background-color: #849d8f;
  margin: 0;
  min-width: 900px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!Sprite!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-basket-black {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-basket-full {
    width: 15px;
    height: 10px;
    background-position: -10px -90px;
}

.sprite-cow {
    width: 49px;
    height: 51px;
    background-position: -10px -120px;
}

.sprite-entranc {
    width: 20px;
    height: 19px;
    background-position: -10px -191px;
}

.sprite-entranc-black {
    width: 20px;
    height: 19px;
    background-position: -10px -230px;
}

.sprite-facebook {
    width: 31px;
    height: 31px;
    background-position: -10px -269px;
}

.sprite-facebook-active {
    width: 31px;
    height: 31px;
    background-position: -10px -320px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -371px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -404px;
}

.sprite-ice-cream {
    width: 51px;
    height: 51px;
    background-position: -10px -485px;
}

.sprite-insta {
    width: 31px;
    height: 31px;
    background-position: -10px -556px;
}

.sprite-insta-active {
    width: 31px;
    height: 31px;
    background-position: -10px -607px;
}

.sprite-leaf {
    width: 51px;
    height: 51px;
    background-position: -10px -658px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -10px -729px;
}

.sprite-search-black {
    width: 17px;
    height: 17px;
    background-position: -10px -766px;
}

.sprite-thermometer {
    width: 49px;
    height: 51px;
    background-position: -10px -803px;
}

.sprite-twitter {
    width: 34px;
    height: 32px;
    background-position: -10px -874px;
}

.sprite-twitter-active {
    width: 31px;
    height: 31px;
    background-position: -10px -926px;
}

.sprite-vkontakte {
    width: 31px;
    height: 31px;
    background-position: -10px -977px;
}

.sprite-vkontakte-active {
    width: 31px;
    height: 31px;
    background-position: -10px -1028px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-header {
  min-height: 120px;
  padding: 0;

  /*для сетки*/
  outline: 2px solid red;
}

.container {
  position: relative;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;

  /*для сетки*/
  outline: 2px solid green;
}

.for-flex {
  padding: 0 2.3%;

  /*для сетки*/
  outline: 2px solid white;
}

.logo {
  display: block;
  float: left;
  width: 155px;
  margin-left: -7px;
  padding-top: 8px;

  /*для сетки*/
  outline: 2px solid yellow;
}
.main-navigation {
  margin: 0 267px 0 155px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.navigation {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  padding-top: 20px;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid blue;
}

.navigation-item {
  display: inline-block;
  vertical-align: top;
}

.navigation-item > a {
  display: block;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 14px;
  font-weight: bold;
  color: white;

  /*для сетки*/
  outline: 2px solid yellow;
}

.navigation-item:hover > a {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.navigation-item:active > a {
  background-color: #f7f6f3;
  color: #333333;
  text-decoration: none;
  box-shadow: inset 0 2px 3px 0 #686868;
}

.navigation-item:hover .catalog {
  display: block;
}

.navigation-item .active {
  background-color: #d07058;
}

.catalog {
  z-index: 1;
  display: none;
  position: absolute;
  padding-top: 10px;
  margin-left: -7px;

  /*для сетки*/
  outline: 2px solid blue;
}

.catalog ul {
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  /*для сетки*/
  outline: 2px solid red;
}

.catalog a,
.active-type div {
  display: block;
  padding-top: 10px;
  padding-right: 13px;
  padding-bottom: 2px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 17px;
  color: #343434;
  font-weight: 400;
  text-decoration: none;
}

.catalog li {
  padding-left: 7px;
  padding-right: 7px;

  /*Для сетки*/
  outline: 2px solid red;
}

.catalog .new {
  font-weight: bold;
  border-bottom: 1px solid #d1d0ce;
}

.catalog li:hover:not(.active-type) {
  background-color: #fbded7;
}

.catalog li:active:not(.active-type) {
  background-color: #f6b5a5;
}

.catalog .active-type {
  background-color: #d07058;
}

.active-type div {
  color: #ffffff;
}

.user-block {
  float: right;
  width: 267px;
  padding-top: 22px;
  text-align: right;

  /*для сетки*/
  outline: 2px solid yellow;
}

.user-block-element {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 32px;
  margin-bottom: 10px;

  /*для сетки*/
  outline: 2px solid blue;
}

.user-block-element:not(:first-child) {
  margin-left: 5px;
}

.user-block-element:hover .popup {
  display: block;
}

.user-block-btn {
  display: block;
  position: relative;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 14px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  /*для сетки*/
  outline: 2px solid red;
}

.user-block-element:hover .user-block-btn,
.filter input[type="submit"]:hover {
  color: #373737;
  background-color: #f8f7f4;
}

.user-block-btn::before {
content: "";
display: block;
position: absolute;
background-image: url("../img/sprite.png");
background-repeat: no-repeat;
}

.search {
  height: 32px;
  width: 32px;
  padding: 0;
}

.search::before {
  top: 7px;
  left: 7px;
  width: 17px;
  height: 17px;
  background-position: -10px -729px;
}

.user-block-element:hover .search::before {
  background-position: -10px -766px;
}

.popup {
  display: none;
  z-index: 1;
  position: absolute;
  padding-top: 4px;
  right: 0;

  /*Для сетки*/
  outline: 2px solid red;
}

.popup-form-search,
.popup-form-entrance {
  width: 241px;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.textarea {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  color: #353535;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;

  /*Для сетки*/
  outline: 2px solid red;
}

.placeholder {
  position: relative;
}

.placeholder label {
  position: absolute;
  left: 15px;
  top: -42px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.textarea:hover {
  border: 2px solid #999999;
}

.textarea:focus + .placeholder label {
  top: -72px;
  font-size: 11px;
  line-height: 24px;
  color: #5b9ddf;
}

.search-item .popup-form-search {
  padding-top: 5px;
  padding-bottom: 5px;
}

.entrance {
  text-align: left;
}

.entrance::before {
  left: 15px;
  width: 20px;
  height: 19px;
  background-position: -10px -191px;
}

.user-block-element:hover  .entrance::before {
  background-position: -10px -230px;
}

.entrance-item .popup-form-entrance {
  padding-top: 11px;
}

.no-password {
  float: right;
  width: 130px;
  text-align: left;
}

.no-password a {
  font-size: 13px;
  line-height: 24px;
  color: #333333;
}

.no-password a:hover,
.no-password a:active {
  color: #ec593c;
}

.popup .red-button {
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding-left: 28px;
  padding-right: 28px;
}

.basket {
  width: 71px;
  padding-right: 0;
  text-align: left;
}

.basket::before {
  z-index: 1;
  left: 15px;
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}

.basket-full::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  width: 15px;
  height: 10px;
  background-position: -10px -90px;
  left: 20px;
  top: 12px;
}

.user-block-element:hover .basket::before {
  z-index: 1;
  background-position: -10px -50px;
}

.basket-item {
  width: 510px;
  padding: 15px;
  color: #333333;
  font-size: 13px;
  line-height: 17px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.in-basket {
  width: 100%;
  border-bottom: 1px solid #cacac7;
  text-align: left;
}

.in-basket td {
  position: relative;
}

.del {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 0;
  top: 20px;
  left: -2px;
}

.del::before,
.del::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 15px;
  border-top: 1px solid #333333;
}

.del::before {
  transform: rotate(45deg);
}

.del::after {
  transform: rotate(-45deg);
}

.in-basket img {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 14px;
}

.in-basket .ice-cream-buy {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin-top: 17px;
}

.products-count {
  width: 130px;
  text-align: center;
}

.price-item {
  text-align: center;
}

.in-basket .gray {
  color: #808080;
}

.booking p {
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  font-weight: bold;
}

.booking .red-button {
  display: inline-block;
  vertical-align: top;
}

.work-time {
  padding-top: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.work-time b {
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
}

.red-button {
  display: block;
  padding: 0;
  border-radius: 50px;
  border: 0 none;
  background-image: linear-gradient(to top, #e54c38, #f37250);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);;
}

.red-button:hover {
  background-image: linear-gradient(to top, #e86857, #f48a6f);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.64);;
}

.red-button:active {
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}

/*!!!!!!!!!!!!!!!!!!!!!!slider!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

body > input {
  display: none;
}

.slider {
  position: relative;
  padding-top: 270px;
  padding-bottom: 40px;
  text-align: center;
}

.slider-item {
  display: none;
}

.slider .slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #ffffff;
}

.slider .red-button {
  height: 63px;
  width: 280px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 63px;
}

.slider-switch {
  position: absolute;
  left: 2.3%;
  bottom: 25px;
}

.slider-switch label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-switch label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.slider-switch label:active {
  background-color: rgba(248, 247, 244, 1);
}

.button1:checked ~ .site-wrapper .slide1,
.button2:checked ~ .site-wrapper .slide2,
.button3:checked ~ .site-wrapper .slide3 {
  display: block;
}

.button1:checked ~ .site-wrapper .circle-point-1,
.button2:checked ~ .site-wrapper .circle-point-2,
.button3:checked ~ .site-wrapper .circle-point-3 {
  background-color: #ffffff;
}

.button1:checked ~ .site-wrapper {
  background: #849d8f url("../img/background-img/bg-ice-cream-1.png") no-repeat top center;
}

.button2:checked ~ .site-wrapper {
  background: #8996a6 url("../img/background-img/bg-ice-cream-2.png") no-repeat top center;
}

.button3:checked ~ .site-wrapper {
  background: #9d8b84 url("../img/background-img/bg-ice-cream-3.png") no-repeat top center;
}

/*!!!!!!!!!!!!!!!!!!!index.html!!!!!!!!!!!!!!!!!!!!!!!*/

.columns {
  margin-bottom: 40px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.column {
  position: relative;
  width: 46.6%;
  box-sizing: border-box;
  min-height: 220px;
  padding: 20px;
  padding-top: 14px;
  border-radius: 15px;

  /*для сетки*/
  outline: 2px solid red;
}

.left {
  float: left;
  margin-left: 2.3%;

  /*для сетки*/
  outline: 2px solid red;
}

.right {
  float: right;
  margin-right: 2.3%;

  /*для сетки*/
  outline: 2px solid red;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  margin-left: -2px;
  font-size: 35px;
  line-height: 42px;
  font-weight: bold;;
  color: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  /*для сетки*/
  outline: 2px solid yellow;
}

.raspberries p,
.chocolate p {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

.raspberries .red-button,
.chocolate .red-button {
  position: absolute;
  bottom: 23px;
  right: 20px;
  max-width: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 21px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.raspberries {
  height: 230px;
  background-image: url("../img/background-img/raspberries-background.png");
}

.chocolate {
  height: 230px;
  background-image: url("../img/background-img/chocolate-background.png");
}

.products {
  padding: 0;
  font-size: 0px;

  /*для сетки*/
  outline: 2px solid magenta;
}

.preview {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 22.2%;
  margin-right: 2.2%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 16px;

  /*для сетки*/
  outline: 2px solid blue;
}

.preview::before {
  content: "";
  display: none;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 60px;
  border-radius: 7px;
  background-color: #a7b8ad;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.preview:hover::before {
  display: block;
}

.preview:hover {
  z-index:1;
}

.preview img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.preview:nth-child(4n+1) {
  margin-left: 2.3%;
}

.preview:nth-child(4n) {
  margin-right: 0;
}

.hit::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 61px;
  width: 61px;
  background-image: url("../img/sprite.png");
  background-position: -10px -404px;
}

.basic {
  position: relative;
  margin-bottom: 8px;
}

.price {
  position: absolute;
  bottom: 12px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.price b {
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
}

.ice-cream-name {
  display: block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.preview:hover .ice-cream-name {
    text-decoration: none;
}

.preview .red-button {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
  text-align: center;

  /*для сетки*/
  outline: 2px solid yellow;
}

.preview:hover .red-button {
  display: block;
}

.information-on-production {
  width: 95.4%;
  margin-left: 2.3%;
  margin-right: 2.3%;
  padding-top: 20px;
  margin-bottom: 40px;
  border-radius: 13px;
  background-image: url("../img/background-img/wafer.jpg");

  /*для сетки*/
  outline: 2px solid blue;
}


h3 {
  margin-top: 0;
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 4px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  /*для сетки*/
  outline: 2px solid red;
}

.information {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid blue;
}

.information li {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  width: 48.8%;
  margin-bottom: 21px;
  color: #323232;
  font-size: 16px;
  line-height: 22px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.information li:nth-child(2n+1) {
  margin-right: 2.3%;
  padding-left: 75px;
}

.information li:nth-child(2n) {
  margin-right: 0;
  padding-left: 56px;
}

.information li::before {
  content: "";
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  background-image: url("../img/sprite.png");
}

.information .ice-cream::before {
  top: -13px;
  left: 20px;
  background-position: -10px -485px;
}

.information .cow::before {
  top: -13px;
  left: 0px;
  background-position: -10px -120px;
}

.information .leaf::before {
  top: -13px;
  left: 20px;
  background-position: -10px -658px;
}

.information .thermometer::before {
  top: -13px;
  left: 0px;
  background-position: -10px -803px;
}

.blog {
  position: relative;
  overflow: hidden;
}

.blog img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: auto;
}

.blog-post {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #353535;
}

.blog-post p {
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
  color: #5a5a5a;

  /*для сетки*/
  outline: 2px solid blue;
}

.blog-post a {
  padding-right: 10px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #353535;
  background-color: rgba(255, 255, 255, 0.8);
  outline: 10px solid rgba(255, 255, 255, 0.8);
}

.subscription {
  padding: 6px;
  background-image: url("../img/background-img/post-base.png");

  /*для сетки*/
  outline: 2px solid blue;
}

.subscription-content {
  box-sizing: border-box;
  min-height: 208px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 26px;
  border-radius: 10px;
  background-color: #f8f7f4;
  color: #5a5a5a;

  /*для сетки*/
  outline: 2px solid red;
}

.subscription-content p {
  min-height: 90px;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.subscription-content .red-button {
  position: static;
  display: block;
  float: right;
  min-width: 120px;
  height: 44px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 44px;
}

.text-box-container {
  margin-right: 140px;
}

.subscription-content input[type="email"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.contacts {
  height: 430px;

  /*для сетки*/
  outline: 2px solid red;
}

.contacts .container {
  position: relative;
}


.contacts {
  height: 430px;

  /*для сетки*/
  outline: 2px solid red;
}

.contacts .container {
  position: relative;
}

.contacts-detail {
  position: absolute;
  top: 65px;
  right: 2.3%;
  width: 254px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 13px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: #fefefe;

  /*для сетки*/
  outline: 2px solid yellow;
}

.contacts-detail p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.contacts-detail b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-detail .red-button {
  text-align: center;
  box-sizing: border-box;
  min-height: 44px;
  line-height: 44px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!catalog.html!!!!!!!!!!!!!!!!!!!!*/

.main-catalog {
  margin-top: -25px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.breadcrumb {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 14px;
  line-height: 17px;

  /*для сетки*/
  outline: 2px solid blue;
}

.breadcrumb a {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumb a:hover,
.breadcrumb a:active {
  color: #ffbc9e;
}

.breadcrumb:not(:last-child)::after {
  content: "»";
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
}

h1 {
  margin-bottom: 24px;
  margin-top: 0;
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;

  /*для сетки*/
  outline: 2px solid blue;
}

.filters {
  margin-bottom: 25px;
  font-size: 0;
}

.filter {
  display: inline-block;
  vertical-align: top;
  min-width: 140px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;

  /*для сетки*/
  outline: 2px solid magenta;
}

.filter:nth-child(4) {
  margin-right: 13px;
}

.filter:last-child {
  vertical-align: bottom;
}

h5 {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 17px;

  /*для сетки*/
  outline: 2px solid blue;
}

.filter-block {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter .user-block-btn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.filter .filling,
.filter .fat {
  padding-right: 0;
}

.filling input,
.fat input {
  display: none;
}

.filling label,
.fat label {
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
}

.filter-line label::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

input[name="fatness"]:disabled + label::before,
input[name="filling"]:disabled + label::before {
  border: 1px solid #b2c1b7;
}

.fat label::before {
  border-radius: 50%;
}

input[name="fatness"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
}

input[name="fatness"]:disabled:checked + label::after {
  background-color: #b2c1b7;
}

.filling label::before {
  border-radius: 3px;
}

input[name="filling"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}

input[name="filling"]:disabled:checked + label::after {
  border-left: 2px solid #b2c1b7;
  border-bottom: 2px solid #b2c1b7;
}

.filter-btn {
  margin-right: 0;
}

.filter-block label:hover::before {
  border: 2px solid #ffffff;
}

.filter input[type="submit"] {
  box-sizing: border-box;
  height: 37px;
  padding-left: 27px;
  padding-right: 27px;
  border: 2px solid #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}


.filter-btn .user-block-btn:active {
  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 3px 0 #686868;
}

.sorting:hover {
  background-color: #ffffff;
  color: #343434;
}

.sorting option{
  color: #343434;
}

.pages {
  float: right;
  width: 300px;
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.page {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.prev,
.next {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
  width: 15px;
  height: 22px;
}

.next a {
  display: block;
}

.prev::before,
.next::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  width: 7px;
  height: 7px;
}

.next::before {
  right: 0;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.prev::before {
  left: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
}

.next a {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.page:not(.active-page):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page:not(.active-page):active {
  background-color: rgba(255, 255, 255, 1);
  color: #333333;
}

.active-page {
  border-radius: 15px;
  color: #353535;
  background-color: #ffffff;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-footer {
padding-top: 18px;

  /*для сетки*/
  min-height: 120px;
  outline: 2px solid red;
}

.footer-social {
  float: left;
  width: 22.2%;
  margin-left: 2.3%;
  margin-right: 2.2%;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.social {
  display: inline-block;
  position: relative;
  width: 31px;
  height: 31px;
  vertical-align: top;
  margin-right: 11px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  font-size: 0;
}

.social::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.8;
  width: 31px;
  height: 31px;
}

.social:hover,
.social:active {
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social:hover::before {
  opacity: 1;
}

.social:active::before {
  box-shadow: inset 0 2px 1px 0 #888888;
  opacity: 1;
}

.twitter::before {
  background-position: -10px -874px;
}

.twitter:active::before {
  background-position: -10px -926px;
}

.instagram::before {
  background-position: -10px -556px;
}

.instagram:active::before {
  background-position: -10px -607px;
}

.facebook::before {
  background-position: -10px -269px;
}

.facebook:active::before {
  background-position: -10px -320px;
}

.vkontakte::before {
  background-position: -10px -977px;
}

.vkontakte:active::before {
  background-position: -10px -1028px;
}

.footer-documents {
  float: left;
  width: 46.6%;
  margin: 0;
  padding: 0;
  margin-right: 2.2%;


  /*для сетки*/
  outline: 2px solid yellow;
}

.footer-documents-list {
  max-width: 307px;/*УТОЧНИТЬ!!!!*/
  margin: 0 auto;
  padding: 0;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.footer-documents-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  padding-left: 2px;
  min-width: 140px;/*УТОЧНИТЬ!!!!*/

  /*для сетки*/
  outline: 2px solid red;
}

.footer-documents-list a {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.footer-documents-list a:hover,
 .footer-documents-list a:active,
 .footer-copyright a:hover,
 .footer-copyright a:active {
  color: #ffbc9e;
}

.footer-documents-list .heart {
  position: relative;
  font-weight: bold;
}

.footer-documents-list .heart::before {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  background-position: -10px -371px;
}

.footer-copyright {
  float: right;
  width: 22.2%;
  margin-right: 2.3%;
  text-align: right;
  font-size: 12px;
  line-height: 15px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.footer-copyright img {
  margin-right: 80px;
}

.footer-copyright p {
  margin-top: 3px;
}

.footer-copyright a {
  color: #fefefe;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!madal-content!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.tansparent-background {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  display: none;
  position: absolute;
  top: 338px;
  left: 50%;
  margin-left: -169px;
  width: 429px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 27px;
  padding-top: 20px;
  color: #343434;
  background-color: #f8f7f4;
  border-radius: 15px;

  /*для сетки*/
  outline: 2px solid yellow;
}

 .modal-content h3 {
   margin: 0;
   margin-bottom: 10px;
 }

.modal-content label{
  font-size: 16px;
  line-height: 24px;
  color: #656565;
}

 .modal-content input[type="email"],
 .modal-content input[type="text"] {
   width: 267px;
 }

 .modal-content textarea {
   box-sizing: border-box;
   min-height: 155px;
 }

.big-area label{
   top: -160px;
}

.big:focus + .placeholder label {
  top: -192px;
}

.modal-content .red-button {
  float: right;
  width: 139px;
  margin-top: 15px;
  padding: 0;
  min-height: 46px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 17px;
  line-height: 46px;
  color: #fefefe;
}

.modal-content .close-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 0;
}

.modal-content .close-button:active {

}

.modal-content .close-button::before,
.modal-content .close-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -5px;
  width: 20px;
  border: 1px solid #131313;
}

.modal-content .close-button::before {
  transform: rotate(45deg);
}

.modal-content .close-button::after {
  transform: rotate(-45deg);
}
