body {
background: url("../img/gllacy-catalog-1200.png") no-repeat 50% 0;
  background-size: 1200px auto;
  background-color: black;
  margin: 0;
  min-width: 900px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!Sprite!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-basket-full {
    width: 15px;
    height: 10px;
    background-position: -36px -5px;
}

.sprite-entranc {
    width: 20px;
    height: 19px;
    background-position: -61px -5px;
}

.sprite-facebook {
    width: 31px;
    height: 31px;
    background-position: -36px -34px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -77px -34px;
}

.sprite-insta {
    width: 31px;
    height: 31px;
    background-position: -102px -5px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -5px -46px;
}

.sprite-twitter {
    width: 31px;
    height: 31px;
    background-position: -102px -46px;
}

.sprite-vkontakte {
    width: 31px;
    height: 31px;
    background-position: -5px -87px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-header {
  min-height: 120px;
  padding: 0;

  /*для сетки*/
  outline: 2px solid red;
}

.indent {
  margin-bottom: 527px;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;

  /*для сетки*/
  outline: 2px solid green;
}

.for-flex {
  padding: 0 2.3%;

  /*для сетки*/
  outline: 2px solid white;
}

.logo {
  display: block;
  float: left;
  width: 155px;
  margin-left: -7px;
  padding-top: 8px;

  /*для сетки*/
  outline: 2px solid yellow;
}
.main-navigation {
  margin: 0 267px 0 155px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.main-navigation .navigation {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  padding-top: 20px;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid blue;
}

.navigation-item {
  display: inline-block;
  vertical-align: top;
}

.navigation-item > a {
  display: block;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 14px;
  font-weight: bold;
  color: white;

  /*для сетки*/
  outline: 2px solid yellow;
}

.navigation-item a:hover {
  background-color: #ffffff;
  color: #333333;
  opacity: ???????????????????????????????????????
}

.navigation-item > a:hover ~ .catalog { /*Невозможно передвинуть курсор вниз, список исчезает*/
  display: block;
}

.navigation-item .active {
  background-color: #d07058;
}

.catalog {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: -7px;
  background-color: #f8f7f4;
  border-radius: 5px;

  /*для сетки*/
  outline: 2px solid red;
}

.catalog a {
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 17px;
  color: #343434;
  font-weight: 400;
  text-decoration: none;
}

.catalog .new { /*Как сделать полосочку снизу?*/
  font-weight: bold;
}

.catalog a:hover {
  background-color: #fbded7;
}

.catalog a:active {
  background-color: #f6b5a5;
}

/*Находимся на странице, какой селектор или псевдокласс?*/

.user-block {
  float: right;
  width: 267px;
  padding-top: 22px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.user-block-element {
  position: relative;
  float: right;
  min-width: 32px;
  margin-bottom: 10px;
}

.user-block-btn {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 45px;
  padding-right: 14px;
  border-radius: 13px;
  background-color: #a1b5aa; /*Прозрачность??????????????????????????*/
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;

  /*для сетки*/
  outline: 2px solid red;
}

.search {
  height: 32px;
  width: 32px;
  margin-right: 10px;
  padding: 0;
}

.search::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -5px -46px;
}

.entrance {
  margin-right: 10px;
}

.entrance::before {
  content: "";
  position: absolute;
  left: 15px;
  display: block;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 19px;
  background-position: -61px -5px;
}

.basket {
  box-sizing: border-box;
  min-width: 116px;
}

.basket::before {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -5px -5px;
}

.work-time {
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.work-time b {
  font-size: 22px;
  line-height: 24px;
}

.red-button {
  display: block;
  padding: 10px 15px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #e64a36, #f06742);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/*!!!!!!!!!!!!!!!!!!!!!!slider!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.slider {
  display: none;
}

/*!!!!!!!!!!!!!!!!!!!index.html!!!!!!!!!!!!!!!!!!!!!!!*/

.columns {
  margin-bottom: 40px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.column {
  width: 46.6%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 14px;
  border-radius: 10px;

  /*для сетки*/
  outline: 2px solid red;
}

.left {
  float: left;
  margin-left: 2.3%;

  /*для сетки*/
  outline: 2px solid red;
}

.right {
  float: right;
  margin-right: 2.3%;

  /*для сетки*/
  outline: 2px solid red;
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  margin-left: -2px; /*Какая-то неведомая фигня, но иначе не совпадает)!!!!*/
  font-size: 35px;
  line-height: 42px;
  font-weight: bold;;
  color: #ffffff;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  /*для сетки*/
  outline: 2px solid yellow;
}

.raspberries p,
.chocolate p {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

.column .red-button {
  float: right; /*непонятно, почему блок видит этот флоат*/
  min-width: 50px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 21px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.raspberries {
  background-image: url("../img/background-img/raspberries-background.png");
}

.chocolate {
  background-image: url("../img/background-img/chocolate-background.png");
}

.products {
  margin-bottom: 40px;
  padding: 0;
  font-size: 0px;

  /*для сетки*/
  outline: 2px solid magenta;
}

.preview {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 22.2%;
  margin-right: 2.2%;
  border-radius: 5px;
  font-size: 16px;

  /*для сетки*/
  outline: 2px solid blue;
}

.preview img {
  max-width: 100%;
  height: auto;
}

.preview:nth-child(4n+1) {
  margin-left: 2.3%;
}

.preview:nth-child(4n) {
  margin-right: 0;
}

.hit::before { /*На средних элементах на макете кружок ХИТ выезжает сильнее*/
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  height: 61px;
  width: 61px;
  background-image: url("../img/icon/hit.png");
}

.basic {
  position: relative;
  margin-bottom: 8px;
}

.price {
  position: absolute;
  bottom: 12px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.price b {
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
}

.ice-cream-name {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.preview .red-button { /*Как объединить светлый фон с этой кнопкой?, если position: absolute,
   то кнопка выезжает за пределы элементов li*/
  display: none;
  position: absolute;
  width: 140px;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 15px;
  line-height: 24px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.preview:hover {
  background-color: #a7b8ad; /*Что за цвет? Белый с прозрачностью? Как сделать?*/
}

.preview:hover .red-button {
  display: block;
}

.information-on-production {
  width: 95.4%;
  margin-left: 2.3%;
  margin-right: 2.3%;
  padding-top: 20px;
  margin-bottom: 40px;
  border-radius: 13px;
  background-image: url("../img/background-img/wafer.jpg");

  /*для сетки*/
  outline: 2px solid blue;
}


h3 {
  margin-top: 0;
  margin-bottom: 21px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 4px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  font-family: Roboto, Arial, Helvetica, sans-serif;

  /*для сетки*/
  outline: 2px solid red;
}

.information {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid blue;
}

.information li {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  width: 48.8%;
  margin-bottom: 21px;
  color: ; /*В фотошопе цвет указан белым и подключены эффекты. Что здесь делать?*/
  font-size: 16px;
  line-height: 22px;
  font-weight: 400; /*Уточнить!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

  /*для сетки*/
  outline: 2px solid yellow;
}

.information li:nth-child(2n+1) {
  margin-right: 2.3%;
  padding-left: 75px;
}

.information li:nth-child(2n) {
  margin-right: 0;
  padding-left: 56px;
}

.information .ice-cream::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 20px;

  width: 47px;
  height: 47px;
  background-image: url("../img/icon/ice-cream.png");
}

.information .cow::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 0px;

  width: 47px;
  height: 47px;
  background-image: url("../img/icon/cow.png");
}

.information .leaf::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 20px;

  width: 47px;
  height: 47px;
  background-image: url("../img/icon/leaf.png");
}

.information .thermometer::before {
  content: "";
  display: block;
  position: absolute;
  top: -13px;
  left: 0px;

  width: 47px;
  height: 47px;
  background-image: url("../img/icon/thermometer.png");
}

.blog {
  position: relative;
  padding: 0;
}

.blog-post {
  position: absolute;
  left: 20px;
  width: 300px;/*Какая ширина??????? Не совпадает с макетом.*/
}

.blog-post p {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #5a5a5a;

  /*для сетки*/
  outline: 2px solid blue;
}

.blog-post a {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #353535;
 /*нужно сделать фон к тексту!!!!!!!!!!!!!!!!!!!!!!*/
}

.blog-post {
  position: absolute;
  left: 20px;
  width: 300px;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #353535;
}

.blog img {
  display: block;
  width: 100%;
  height: auto;
}

.subscription {
  padding: 6px;
  background-image: url("../img/background-img/post-base.png");

  /*для сетки*/
  outline: 2px solid blue;
}

.subscription-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 36px;
  border-radius: 10px;
  background-color: #f8f7f4;
  color: #5a5a5a;

  /*для сетки*/
  outline: 2px solid red;
}

.subscription-content p {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.subscription-content input[type="submit"] {
  display: block;
  float: right;     /*float видим блоками. Почему???!!!!!!!!!!!!!!!!!*/
  box-sizing: content-box;
  width: 90px;
}

.subscription-content input[type="email"] {/*Как растянуть на всю ширину
  с отступом справа 130px - размер кнопки*/
  display: block;
  width: auto;
  margin-right: 130px;
  padding: 7px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.contacts {
  height: 365px;
  padding-top: 65px;

  /*для сетки*/
  outline: 2px solid red;
}

.contacts-detail {
  position: absolute;
  right: 400px;/*Относительно чего позиционировать и к какой точке привязывать?*/
  width: 254px;
  padding: 25px;
  border-radius: 10px;
  background-color: #fefefe;

  /*для сетки*/
  outline: 2px solid yellow;
}

.contacts-detail p {
  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.contacts-detail b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-detail .red-button {
  text-align: center;
  box-sizing: border-box;
  min-height: 45px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!catalog.html!!!!!!!!!!!!!!!!!!!!*/

.main-catalog {
  margin-top: -25px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 10px;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.breadcrumb {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-size: 16px;

  /*для сетки*/
  outline: 2px solid blue;
}

.filters {
  font-size: 0;
}

.filter {
  display: inline-block;
  vertical-align: top;
  min-width: 140px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 16px;

  /*для сетки*/
  outline: 2px solid magenta;
}

.filter:last-child {
  vertical-align: bottom;
}

.filter-background {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;

  /*для сетки*/
  outline: 2px solid yellow;
}

.pages {
  float: right;
  width: 135px;

  /*для сетки*/
  outline: 2px solid yellow;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-footer {
padding-top: 35px;

  /*для сетки*/
  min-height: 120px;
  outline: 2px solid red;
}

.footer-social {
  float: left;
  width: 22.2%;
  margin-left: 2.3%;
  margin-right: 2.2%;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.social {
  display: inline-block;
  width: 31px;
  height: 31px;
  vertical-align: top;
  margin-right: 11px;
  border-radius: 20px;
  border: 4px solid #c2cec7; /*Что за цвет????????????????????????*/
  font-size: 0;
}

.social a {
  display: block;
}

.twitter::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 31px;
  height: 31px;
  background-position: -102px -46px;
}

.instagram::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 31px;
  height: 31px;
  background-position: -102px -5px;
}

.facebook::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 31px;
  height: 31px;
  background-position: -36px -34px;
}

.vkontakte::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
  width: 31px;
  height: 31px;
  background-position: -5px -87px;
}

.footer-documents {
  float: left;
  width: 46.6%;
  margin: 0;
  padding: 0;
  margin-right: 2.2%;


  /*для сетки*/
  outline: 2px solid yellow;
}

.footer-documents-list {
  max-width: 310px;/*УТОЧНИТЬ!!!!*/
  margin: 0 auto;
  padding: 0;
  font-size: 0;

  /*для сетки*/
  outline: 2px solid yellow;
}

.footer-documents-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  min-width: 143px;/*УТОЧНИТЬ!!!!*/
  font-size: 16px;

  /*для сетки*/
  outline: 2px solid red;
}

.footer-documents-list a {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.footer-copyright {
  float: right;
  width: 22.2%;
  margin-right: 2.3%;

  /*для сетки*/
  outline: 2px solid yellow;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!popup!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.popup {
  display: none;
}

h1 {
  margin-bottom: 35px;
  /*для сетки*/
  outline: 2px solid blue;
}
